/* matches with no spect and no reason*/
select m.Match_Id, m.HomeTeam, m.AwayTeam, m.Date, mn.Text 
from vwMatches m 
left outer join MatchNotes mn on m.Match_Id = mn.Match_Id and mn.Code='noSpect'
where Flags & 4 > 0 and mn.MatchNote_Id is null